# Debian GNU/Linux 13 system (codename “trixie”)
# https://www.debian.org


iso_pattern1="debian-13.6.0-amd64-DVD-1.iso"
iso_pattern2="debian-13.6.0-amd64-netinst.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern1 ($dev,*)$iso_dir/$iso_pattern2; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname [config_priv] ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"
			LOOPBACK "$2"
			isocfg=""
			bootoptions=""
			linux_path="(loop)/"
			initrd_path="(loop)/"

menuentry --hotkey=g 'Graphical install' {
    linux    (loop)/install.amd/vmlinuz vga=788 --- quiet 
    initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
}
menuentry --hotkey=i 'Install' {
    linux    (loop)/install.amd/vmlinuz vga=788 --- quiet 
    initrd   (loop)/install.amd/initrd.gz /iso-scan-13.6.0.gz
}
submenu --hotkey=a 'Advanced options ...' {
    menuentry '... Graphical expert install' {    
        linux    (loop)/install.amd/vmlinuz priority=low vga=788 --- 
        initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
    }
    menuentry '... Graphical rescue mode' {    
        linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true --- quiet  
        initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
    }
    menuentry '... Graphical automated install' {    
        linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 --- quiet 
        initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
    }
    menuentry --hotkey=x '... Expert install' {    
        linux    (loop)/install.amd/vmlinuz priority=low vga=788 --- 
        initrd   (loop)/install.amd/initrd.gz /iso-scan-13.6.0.gz
    }
    menuentry --hotkey=r '... Rescue mode' {    
        linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true --- quiet 
        initrd   (loop)/install.amd/initrd.gz /iso-scan-13.6.0.gz
    }
    menuentry --hotkey=a '... Automated install' {    
        linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 --- quiet 
        initrd   (loop)/install.amd/initrd.gz /iso-scan-13.6.0.gz
    }
    submenu --hotkey=s '... Speech-enabled advanced options ...' {
        menuentry --hotkey=x '... Expert speech install' {        
            linux    (loop)/install.amd/vmlinuz priority=low vga=788 speakup.synth=soft --- 
            initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
        }
        menuentry --hotkey=r '... Rescue speech mode' {        
            linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true speakup.synth=soft --- quiet  
            initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
        }
        menuentry --hotkey=a '... Automated speech install' {        
            linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 speakup.synth=soft --- quiet 
            initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
        }
    }
}
submenu --hotkey=d 'Accessible dark contrast installer menu ...' {
    menuentry --hotkey=g '... Graphical install' {    
        linux    (loop)/install.amd/vmlinuz vga=788 theme=dark --- quiet 
        initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
    }
    menuentry --hotkey=i '... Install' {    
        linux    (loop)/install.amd/vmlinuz vga=788 theme=dark --- quiet 
        initrd   (loop)/install.amd/initrd.gz /iso-scan-13.6.0.gz
    }
    submenu --hotkey=a '... Advanced options ...' {    
        menuentry '... Graphical expert install' {        
            linux    (loop)/install.amd/vmlinuz priority=low vga=788 theme=dark --- 
            initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
        }
        menuentry '... Graphical rescue mode' {        
            linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true theme=dark --- quiet 
            initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
        }
        menuentry '... Graphical automated install' {        
            linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 theme=dark --- quiet 
            initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
        }
        menuentry --hotkey=x '... Expert install' {        
            linux    (loop)/install.amd/vmlinuz priority=low vga=788 theme=dark --- 
            initrd   (loop)/install.amd/initrd.gz /iso-scan-13.6.0.gz
        }
        menuentry --hotkey=r '... Rescue mode' {        
            linux    (loop)/install.amd/vmlinuz vga=788 rescue/enable=true theme=dark --- quiet 
            initrd   (loop)/install.amd/initrd.gz /iso-scan-13.6.0.gz
        }
        menuentry --hotkey=a '... Automated install' {        
            linux    (loop)/install.amd/vmlinuz auto=true priority=critical vga=788 theme=dark --- quiet 
            initrd   (loop)/install.amd/initrd.gz /iso-scan-13.6.0.gz
        }
    }
}
menuentry --hotkey=s 'Install with speech synthesis' {
    linux    (loop)/install.amd/vmlinuz vga=788 speakup.synth=soft --- quiet 
    initrd   (loop)/install.amd/gtk/initrd.gz /iso-scan-13.6.0.gz
}
}
fi
done
