# Debian GNU/Linux 13 system (codename “trixie”)
# https://www.debian.org


iso_pattern="debian-live-13.6.0-amd64-*.iso"

for isofile in $iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname [config_priv] ->" "$isofile" {
			iso_path="$2"
			LOOPBACK "$iso_path"
			isocfg=""
			bootoptions=""
			linux_path="(loop)/"
			initrd_path="(loop)/"

# Live boot
menuentry "Live system (amd64)" --hotkey=l {
	linux	(loop)/live/vmlinuz-6.12.94+deb13-amd64 boot=live components quiet splash findiso=${iso_path}
	initrd	(loop)/live/initrd.img-6.12.94+deb13-amd64
}
menuentry "Live system (amd64 fail-safe mode)" {
	linux	(loop)/live/vmlinuz-6.12.94+deb13-amd64 boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788 findiso=${iso_path}
	initrd	(loop)/live/initrd.img-6.12.94+deb13-amd64
}
# Installer (if any) # -> "install_start.cfg"
menuentry 'Start installer' --hotkey=i {
	linux	(loop)/install/gtk/vmlinuz vga=788  --- quiet
	initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
}
menuentry 'Start installer with speech synthesis' --hotkey=s {
	linux	(loop)/install/gtk/vmlinuz speakup.synth=soft vga=788  --- quiet
	initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
}
submenu 'Advanced install options ...' --hotkey=a {
submenu 'Graphical installer ...' --hotkey=g {
	menuentry 'Install' --hotkey=i {
		linux	(loop)/install/gtk/vmlinuz vga=788  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Expert install' --hotkey=x {
		linux	(loop)/install/gtk/vmlinuz priority=low vga=788
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Automated install' --hotkey=a {
		linux	(loop)/install/gtk/vmlinuz auto=true priority=critical vga=788  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Rescue mode' --hotkey=r {
		linux	(loop)/install/gtk/vmlinuz rescue/enable=true vga=788  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
}
submenu 'Text installer ...' --hotkey=t {
	menuentry 'Install' --hotkey=i {
		linux	(loop)/install/vmlinuz vga=788  --- quiet
		initrd	(loop)/install/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Expert install' --hotkey=x {
		linux	(loop)/install/vmlinuz priority=low vga=788
		initrd	(loop)/install/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Automated install' --hotkey=a {
		linux	(loop)/install/vmlinuz auto=true priority=critical vga=788  --- quiet
		initrd	(loop)/install/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Rescue mode' --hotkey=r {
		linux	(loop)/install/vmlinuz rescue/enable=true vga=788  --- quiet
		initrd	(loop)/install/initrd.gz /iso-scan-13.6.0.gz
	}
}
submenu 'Graphical installer with dark theme ...' --hotkey=d {
	menuentry 'Install' --hotkey=i {
		linux	(loop)/install/gtk/vmlinuz vga=788 theme=dark  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Expert install' --hotkey=x {
		linux	(loop)/install/gtk/vmlinuz priority=low vga=788 theme=dark
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Automated install' --hotkey=a {
		linux	(loop)/install/gtk/vmlinuz auto=true priority=critical vga=788 theme=dark  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Rescue mode' --hotkey=r {
		linux	(loop)/install/gtk/vmlinuz rescue/enable=true vga=788 theme=dark  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
}
submenu 'Text installer with dark theme ...' --hotkey=k {
	menuentry 'Install' --hotkey=i {
		linux	(loop)/install/vmlinuz vga=788 theme=dark  --- quiet
		initrd	(loop)/install/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Expert install' --hotkey=x {
		linux	(loop)/install/vmlinuz priority=low vga=788 theme=dark
		initrd	(loop)/install/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Automated install' --hotkey=a {
		linux	(loop)/install/vmlinuz auto=true priority=critical vga=788 theme=dark  --- quiet
		initrd	(loop)/install/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Rescue mode' --hotkey=r {
		linux	(loop)/install/vmlinuz rescue/enable=true vga=788 theme=dark  --- quiet
		initrd	(loop)/install/initrd.gz /iso-scan-13.6.0.gz
	}
}
submenu 'Installer with speech synthesis ...' --hotkey=s {

	menuentry 'Install' --hotkey=i {
		linux	(loop)/install/gtk/vmlinuz speakup.synth=soft vga=788  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Expert install' --hotkey=x {
		linux	(loop)/install/gtk/vmlinuz speakup.synth=soft priority=low vga=788
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Automated install' --hotkey=a {
		linux	(loop)/install/gtk/vmlinuz speakup.synth=soft auto=true priority=critical vga=788  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
	menuentry 'Rescue mode' --hotkey=r {
		linux	(loop)/install/gtk/vmlinuz speakup.synth=soft rescue/enable=true vga=788  --- quiet
		initrd	(loop)/install/gtk/initrd.gz /iso-scan-13.6.0.gz
	}
}
}
submenu 'Utilities...' --hotkey=u {
	# Memtest (if any)
	if false; then
		source (loop)/boot/grub/memtest.cfg
	fi
	# Firmware setup (UEFI)
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI Firmware Settings" --hotkey=f {
			fwsetup
		}
	fi
	# Verify the checksums
	if true; then
		menuentry "Verify integrity of the boot medium" --hotkey=v {
			linux	(loop)/live/vmlinuz-6.12.94+deb13-amd64 boot=live components   findiso=${iso_path} verify-checksums
			initrd	(loop)/live/initrd.img-6.12.94+deb13-amd64
		}
	fi
}
}
fi
done
